;; -*- coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Fri Sep 13 14:27:06 2002
;; Emacs version 21.2.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring nil)
(setq regexp-search-ring nil)
(setq register-alist nil)

;; Buffer section:
(desktop-create-buffer 205
  "/.swing/system/emacs/lse/lse-language-generic.lse"
  "lse-language-generic.lse"
  'emacs-lisp-mode
  '(lazy-lock-mode eldoc-mode nil lse-tpu:newline-and-indent-p auto-fill-mode lse-tpu:direction-string)
  943
  '(nil nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/.swing/system/emacs/lse/lse-language-mail.lse"
  "lse-language-mail.lse"
  'emacs-lisp-mode
  '(lazy-lock-mode eldoc-mode lse-tpu:newline-and-indent-p auto-fill-mode lse-tpu:direction-string)
  1297
  '(nil nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/.swing/system/emacs/lse/lse-templates-python.lse"
  "lse-templates-python.lse"
  'emacs-lisp-mode
  '(lazy-lock-mode eldoc-mode lse-tpu:newline-and-indent-p auto-fill-mode lse-tpu:direction-string)
  56958
  '(nil nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/.swing/system/emacs/lse-language.el"
  "lse-language.el"
  'emacs-lisp-mode
  '(lazy-lock-mode eldoc-mode nil lse-tpu:newline-and-indent-p auto-fill-mode lse-tpu:direction-string)
  7034
  '(1 nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/.swing/system/emacs/lse-kill.el"
  "lse-kill.el"
  'emacs-lisp-mode
  '(lazy-lock-mode eldoc-mode nil lse-tpu:newline-and-indent-p auto-fill-mode lse-tpu:direction-string)
  16920
  '(nil nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/.swing/system/emacs/lse/lse-language-lse.lse"
  "lse-language-lse.lse"
  'emacs-lisp-mode
  '(lazy-lock-mode eldoc-mode nil lse-tpu:newline-and-indent-p auto-fill-mode lse-tpu:direction-string)
  811
  '(nil nil)
  t
  nil
  nil)

(desktop-create-buffer 205
  "/.swing/system/emacs/ls-emacs.el"
  "ls-emacs.el"
  'emacs-lisp-mode
  '(lazy-lock-mode eldoc-mode nil lse-tpu:newline-and-indent-p auto-fill-mode lse-tpu:direction-string)
  5922
  '(nil nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/.swing/system/emacs/lse/lse-templates-lse.lse"
  "lse-templates-lse.lse"
  'emacs-lisp-mode
  '(lazy-lock-mode eldoc-mode nil lse-tpu:newline-and-indent-p auto-fill-mode lse-tpu:direction-string)
  1
  '(nil nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/.swing/system/emacs/lse/lse-templates-latex-swing.lse"
  "lse-templates-latex-swing.lse"
  'emacs-lisp-mode
  '(lazy-lock-mode eldoc-mode nil lse-tpu:newline-and-indent-p auto-fill-mode lse-tpu:direction-string)
  6480
  '(nil nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/.swing/system/emacs/lse/lse-templates-latex.lse"
  "lse-templates-latex.lse"
  'emacs-lisp-mode
  '(lazy-lock-mode eldoc-mode nil lse-tpu:newline-and-indent-p auto-fill-mode lse-tpu:direction-string)
  57614
  '(nil nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/.swing/system/emacs/lse/lse-templates-generic.lse"
  "lse-templates-generic.lse"
  'emacs-lisp-mode
  '(lazy-lock-mode eldoc-mode nil lse-tpu:newline-and-indent-p auto-fill-mode lse-tpu:direction-string)
  7541
  '(nil nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/.swing/system/emacs/lse/lse-language-rest.lse"
  "lse-language-rest.lse"
  'emacs-lisp-mode
  '(lazy-lock-mode eldoc-mode lse-tpu:newline-and-indent-p auto-fill-mode lse-tpu:direction-string)
  724
  '(nil nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/.swing/system/emacs/lse-mode-alist.el"
  "lse-mode-alist.el"
  'emacs-lisp-mode
  '(lazy-lock-mode eldoc-mode nil lse-tpu:newline-and-indent-p auto-fill-mode lse-tpu:direction-string)
  3262
  '(nil nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/.swing/system/emacs/lse-indent.el"
  "lse-indent.el"
  'emacs-lisp-mode
  '(lazy-lock-mode eldoc-mode nil lse-tpu:newline-and-indent-p auto-fill-mode lse-tpu:direction-string)
  6392
  '(nil nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/.swing/system/emacs/lse-editing.el"
  "lse-editing.el"
  'emacs-lisp-mode
  '(lazy-lock-mode eldoc-mode nil lse-tpu:newline-and-indent-p auto-fill-mode lse-tpu:direction-string)
  18140
  '(3626 nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/.swing/system/emacs/lse-keys-v19.el"
  "lse-keys-v19.el"
  'emacs-lisp-mode
  '(lazy-lock-mode eldoc-mode nil lse-tpu:newline-and-indent-p auto-fill-mode lse-tpu:direction-string)
  4334
  '(nil nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/.swing/system/emacs/lse-tpu-keys-v19.el"
  "lse-tpu-keys-v19.el"
  'emacs-lisp-mode
  '(lazy-lock-mode eldoc-mode nil lse-tpu:newline-and-indent-p auto-fill-mode lse-tpu:direction-string)
  24680
  '(nil nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/.swing/system/emacs/lse/lse-templates-rest.lse"
  "lse-templates-rest.lse"
  'emacs-lisp-mode
  '(lazy-lock-mode eldoc-mode lse-tpu:newline-and-indent-p auto-fill-mode lse-tpu:direction-string)
  7501
  '(nil nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/.swing/system/emacs/lse-flat-fill-in.el"
  "lse-flat-fill-in.el"
  'emacs-lisp-mode
  '(lazy-lock-mode eldoc-mode nil lse-tpu:newline-and-indent-p auto-fill-mode lse-tpu:direction-string)
  13193
  '(nil nil)
  nil
  nil
  nil)

